  <section>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h2 class="mb-4" style="color: rgb(14, 28, 60);">DOCTOR'S LIST</h2>
        
      </div>
    </div>
  
    <div class="row text-center">

      <!-- Dr. Saurabh -->
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #a565a2;"></div>
          <div class="avatar mx-auto bg-white">
            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              class="rounded-circle img-fluid" />
          </div>
          <div class="card-body">
              <p class="fw-bold mb-1"><b>Dr. Saurabh</b></p>
              <p class="text-muted mb-0">saurabh@gmail.com</p>
            <hr />
            <p class="fw-normal mb-1">CARDIOLOGY</p>
            <p class="fw-normal mb-1">Senior</p>
          </div>
        </div>
      </div>

      <!-- Dr.Ruchi -->
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6e77a9;"></div>
          <div class="avatar mx-auto bg-white">
            <img src="https://mdbootstrap.com/img/new/avatars/7.jpg"
              class="rounded-circle img-fluid" />
          </div>
          <div class="card-body">
              <p class="fw-bold mb-1"><b>Dr. Ruchi</b></p>
              <p class="text-muted mb-0">ruchi@gmail.com</p>
            <hr />
            <p class="fw-normal mb-1">GYNAECOLOGY</p>
            <p class="fw-normal mb-1">Junior</p>
          </div>
        </div>
      </div>

      <!-- Dr. Mallika -->
      <div class="col-md-4 mb-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #644c9b;"></div>
          <div class="avatar mx-auto bg-white">
            <img src="https://mdbootstrap.com/img/new/avatars/16.jpg"
              class="rounded-circle img-fluid" />
          </div>
          <div class="card-body">
              <p class="fw-bold mb-1"><b>Dr. Mallika</b></p>
              <p class="text-muted mb-0">mallika@gmail.com</p>
            <hr />
            <p class="fw-normal mb-1">GENERAL SURGERY</p>
            <p class="fw-normal mb-1">Senior</p>
          </div>
        </div>
      </div>

      <!-- Dr. Abhishek -->
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #721c6d;"></div>
          <div class="avatar mx-auto bg-white">
            <img src="https://mdbootstrap.com/img/new/avatars/3.jpg"
              class="rounded-circle img-fluid" />
          </div>
          <div class="card-body">
              <p class="fw-bold mb-1"><b>Dr. Abhishek</b></p>
              <p class="text-muted mb-0">abhishek@gmail.com</p>
            <hr />
            <p class="fw-normal mb-1">NEUROLOGY</p>
            <p class="fw-normal mb-1">Junior</p>
          </div>
        </div>
      </div>

      <!-- Dr. Anand -->
      <div class="col-md-4 mb-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #7d314c;"></div>
          <div class="avatar mx-auto bg-white">
            <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
              class="rounded-circle img-fluid" />
          </div>
          <div class="card-body">
              <p class="fw-bold mb-1"><b>Dr. Anand</b></p>
              <p class="text-muted mb-0">anand@gmail.com</p>
            <hr />
            <p class="fw-normal mb-1">RADIOTHERAPY</p>
            <p class="fw-normal mb-1">Senior</p>
          </div>
        </div>
      </div>

      

    </div>
  </section>