
<!-- Home page -->
<main class="mt-5 pt-5" >
    <div class="container">

     
      <section class="card wow fadeIn" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg); ">

        
        <div class="card-body text-white text-center py-5 px-5 my-5">

          <h1 class="mb-4" style="font-size: 50px; color: rgb(253, 214, 129);">
            <strong>Welcome to our Patient Management System</strong>
          </h1>
          
          <p class="mb-4" style="color: hsl(0, 100%, 97%);">
            <strong>Our patient management system is designed to manage patient information more efficiently and effectively </strong><br>
            <strong>With our system, you can easily add, update, delete and view patient details all in one place</strong><br>
            <strong>You can also easily see doctor's list</strong>
          </p>

        </div>
        </section>

    </div>
</main>
  

  